@inherits LayoutComponentBase

   <div class="wrapper">
        <JSBackend.Components.Sections.Header />

        <main>
            @Body
        </main>

       <JSBackend.Components.Sections.Footer />
    </div>


    



