<section class="main-title">
	<div class="title">
		<div class="container">
			<div class="content">
				<h1>Courses</h1>
			</div>
			<div class="nav">

				<form method="post" class="filter">
					<select name="categories" id="categories">
						<option value="all">All Categories</option>
						<option value="Web Development">Web Development</option>
						<option value="Game Development">Game Development</option>
						<option value="Data Science & Machine Learning">Data Science & Machine Learning</option>
						<option value="Mobile Development">Mobile Development</option>
						<option value="Design & Animation">Design & Animation</option>
						<option value="Performance Testing">Performance Testing</option>
					</select>
				</form>

				<form method="get" class="search">
					<input type="text" placeholder="Search courses..." name="search" />
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>

			</div>
		</div>
	</div>

</section>