<section class="links">
	<div class="container">
		<div class="a-links">
			<i class="fa-sharp fa-regular fa-house"></i>
			<a asp-action="Index" asp-controller="Home">Home</a>
			<i class="fa-solid fa-angles-right"></i>
			<a class="active" asp-action="Index" asp-controller="Courses">Courses</a>
		</div>
	</div>
</section>