<section class="links">
	<div class="container">
		<div class="a-links">
			<i class="fa-sharp fa-regular fa-house"></i>
			<a href="/">Home</a>
			<i class="fa-solid fa-angles-right"></i>
			<a class="active" href="/courses">Courses</a>
		</div>
	</div>
</section>