:root {
    --color-white: #0B0F19;
    --color-gray-100: #33354D;
    --color-gray-200: #565973;
    --color-gray-300: #9397AD;
    --color-gray-400: #B4B7C9;
    --color-gray-500: #D4D7E5;
    --color-gray-600: #E2E5F1;
    --color-gray-700: #EFF2FC;
    --color-gray-800: #F3F6FF;
    --color-gray-900: #FFFFFF;
    --color-black: #FFFFFF;
    --color-theme: #6366F1;
    --subscribe-gradient-percentage: 100%;
    --span-color: #6366F1;
    --course-color: #33354D;

    
    --box-shadow-error: 0px 4px 9px -1px rgba(239, 68, 68, 0.5), 0px 4.4px 20px -1px rgba(239, 68, 68, 0.5);
    
}
